<section id="about">
  <div class="container">
    <div class="row form-group">
      <div class="col-md-8 col-md-offset-2 text-center">
        <div class="team-member">
          <a href="https://www.airbnb.com/users/show/4772693">
            <img src="/assets/img/paola.jpg" class="img-responsive img-circle">
          </a>
        </div>
        <h2>Bed &amp; Breakfast</h2>
        <p class="text-muted text-justify">{{ page.description }}</p>
      </div>
    </div>
    <div class="row text-center form-group">
      <div class="col-sm-6">
        <a href="#venice" class="page-scroll">
          <h4>{{ site.data.sections.venice.name[page.lang] }}</h4>
        </a>
        <p class="text-muted">{{ site.data.sections.about.venice[page.lang] }}</p>
      </div>
      <div class="col-sm-6">
        <a href="#vicenza" class="page-scroll">
          <h4>Vicenza</h4>
        </a>
        <p class="text-muted">{{ site.data.sections.about.vicenza[page.lang] }}</p>
      </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <a href="https://www.airbnb.com/users/show/4772693">
          <img src="/assets/img/superhost.png" class="img-responsive">
        </a>
      </div>
    </div>
    <hr>
    <div class="row text-center form-group">
      <div class="col-xs-4">
        <p><em>“Paola is a charming, elegant and passionate Venetian grandma”</em> —&nbsp;Ryan</p>
      </div>
      <div class="col-xs-4">
        <p><em>“She was welcoming, her home is beautiful and she makes a
                  great authentic breakfast every day and her cat is
                  amazing!”</em> —&nbsp;Anand</p>
      </div>
      <div class="col-xs-4">
        <p><em>“Paola was a very generous host and we managed to work
                  around our language barrier with ease”</em> —&nbsp;Tracye</p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-xs-4">
        <p><em>“Cortesia, eleganza e sapore di altri tempi”</em> —&nbsp;Barbara</p>
      </div>
      <div class="col-xs-4">
        <p><em>“Un posto per chi vuole apprezzare l'eleganza
                      veneziana”</em> —&nbsp;D.</p>
      </div>
      <div class="col-xs-4">
        <p><em>“Lovely big room and close to the sights. Amazing
                  breakfast”</em> —&nbsp;Lucinda</p>
      </div>
    </div>
  </div>
</section>
