<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <span class="span-footer">Copyright &copy; 2017-2020, Paola Da Rin</span>
      </div>
      <div class="col-sm-2">
        <ul class="list-inline social-buttons">
          <li><a href="https://www.tripadvisor.com/Hotel_Review-g187870-d1726634-Reviews-B_B_Palazzo_Morosini_dalla_Sbarra-Venice_Veneto.html"><i class="fa fa-tripadvisor" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-sm-5">
        <span class="span-footer">{{ site.data.sections.footer.built-by[page.lang] }} <a href="https://www.linkedin.com/in/filippo-costa-487004138/">Filippo Costa</a></span>
      </div>
    </div>
  </div>
</footer>
