<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "LodgingBusiness",
  "name": "B&B {{ site.data.sections.venice.house }}",
  "petsAllowed": "false",
  "starRating": {
    "author": "Airbnb",
    "ratingValue": "4.6"
  },
  "paymentsAccepted": "Cash",
  "address": "Castello 2845/A, Venice 30122, Italy",
  "aggregateRating": "4.6",
  "hasMap": "https://goo.gl/maps/1BosQqBYP2o",
  "smokingAllowed": "false",
  "telephone": {{ site.phone.a }}{{ site.phone.b }}{{ site.phone.c }},
  "award": "Airbnb Superhost",
  "email": {{ site.email }},
  "description": {{ page.description }}
}
</script>
