<section id="services" class="bg-gray-lighter">
    <div class="container">
      <div class="row form-group">
        <div class="col-md-8 col-md-offset-2 text-center">
          <h2>{{ site.data.sections.services.name[page.lang] }}</h2>
          <p class="text-muted">
            {{ site.data.sections.services.introduction[page.lang] }}
          </p>
        </div>
      </div>
      <div class="row text-center form-group">
        <div class="col-sm-6">
          <a href="#venice" class="page-scroll">
            <h4>{{ site.data.sections.venice.name[page.lang] }}</h4>
          </a>
          {{ site.data.sections.services.venice[page.lang] }}
        </div>
        <div class="col-sm-6">
          <a href="#vicenza" class="page-scroll">
            <h4>Vicenza</h4>
          </a>
          {{ site.data.sections.services.vicenza[page.lang] }}
        </div>
      </div>
    </div>
  </section>
